In [4]:
daily_sch = {'bacnet_daily_sched_example1':
             [
                 [
                     {'hour': 8, 'minute': 0, 'second': 0, 'value': 'example1_start'},
                     {'hour': 19, 'minute': 0, 'second': 0, 'value': 'example1_end'}
                 ]
             ],
             'bacnet_daily_sched_example2':
             [
                 [
                     {'hour': 8, 'minute': 0, 'second': 0, 'value': 'example_2_start'},
                     {'hour': 19, 'minute': 0, 'second': 0, 'value': 'example2_end'}
                 ]
             ] }

# Date format is 'MM-DD'
daily_except_sch = {'bacnet_daily_sched_example1': 
              {
                  '01-09,03-10' : 
                  [
                      {'hour': 7, 'minute': 0, 'second': 0, 'value': 'example1_ex1_start'},
                      {'hour': 19, 'minute': 0, 'second': 0, 'value': 'example1_ex1_end'}
                  ],
                  '02-20':
                  [ 
                      {'hour': 10, 'minute': 0, 'second': 0, 'value': 'example1_ex2_start1'},
                      {'hour': 12, 'minute': 0, 'second': 0, 'value': 'example1_ex2_end1'},
                      {'hour': 15, 'minute': 0, 'second': 0, 'value': 'example1_ex2_start2'},
                      {'hour': 19, 'minute': 0, 'second': 0, 'value': 'example1_ex2_end2'}
                  ],
              '02-17':
                  [ 
                      {'hour': 10, 'minute': 0, 'second': 0, 'value': 'example1_ex3_start1'},
                      {'hour': 12, 'minute': 0, 'second': 0, 'value': 'example1_ex3_end1'},
                      {'hour': 15, 'minute': 0, 'second': 0, 'value': 'example1_ex3_start2'},
                      {'hour': 19, 'minute': 0, 'second': 0, 'value': 'example1_ex3_end2'}
                  ]},
              
               'bacnet_daily_sched_example2':
              {
                  '12-18,02-20' : 
                  [
                      {'hour': 7, 'minute': 0, 'second': 0, 'value': 'example2_ex1_start'},
                      {'hour': 19, 'minute': 0, 'second': 0, 'value': 'example2_ex1_end'}
                  ],
              '12-31':
                  [ 
                      {'hour': 10, 'minute': 0, 'second': 0, 'value': 'example2_ex2_start1'},
                      {'hour': 12, 'minute': 0, 'second': 0, 'value': 'example2_ex2_end1'},
                      {'hour': 15, 'minute': 0, 'second': 0, 'value': 'example2_ex2_start2'},
                      {'hour': 19, 'minute': 0, 'second': 0, 'value': 'example2_ex2_end2'}
                  ],
              '02-21':
                  [ 
                      {'hour': 10, 'minute': 0, 'second': 0, 'value': 'example2_ex3_start1'},
                      {'hour': 12, 'minute': 0, 'second': 0, 'value': 'example2_ex3_end1'},
                      {'hour': 15, 'minute': 0, 'second': 0, 'value': 'example2_ex3_start2'},
                      {'hour': 19, 'minute': 0, 'second': 0, 'value': 'example2_ex3_end2'}
                  ],
              '02-17':
                  [ 
                      {'hour': 10, 'minute': 0, 'second': 0, 'value': 'example2_ex4_start1'},
                      {'hour': 12, 'minute': 0, 'second': 0, 'value': 'example2_ex4_end1'},
                      {'hour': 15, 'minute': 0, 'second': 0, 'value': 'example2_ex4_start2'},
                      {'hour': 19, 'minute': 0, 'second': 0, 'value': 'example2_ex4_start2'}
                  ]} 
             }

In [ ]:
weekly_sch = {'bacnet_weekly_sched_example1':
    [
        [
            {'hour': 8, 'minute': 0, 'second': 0, 'value': 1},
            {'hour': 12, 'minute': 0, 'second': 0, 'value': 0},
             {'hour': 13, 'minute': 0, 'second': 0, 'value': 1},
              {'hour': 19, 'minute': 0, 'second': 0, 'value': 'example1_monday'}
        ],
        [
            {'hour': 8, 'minute': 0, 'second': 0, 'value': 1},
            {'hour': 19, 'minute': 0, 'second': 0, 'value': 'example1_tuesday'}
        ],
        [
            {'hour': 8, 'minute': 0, 'second': 0, 'value': 1},
            {'hour': 19, 'minute': 0, 'second': 0, 'value': 'example1_wednesday'}
        ],
        [
            {'hour': 8, 'minute': 0, 'second': 0, 'value': 1},
            {'hour': 23, 'minute': 0, 'second': 0, 'value': 'example1_thursday'}
        ],
        [
            {'hour': 8, 'minute': 0, 'second': 0, 'value': 1},
            {'hour': 19, 'minute': 0, 'second': 0, 'value': 'example1_friday'}
        ],
        [
            {'hour': 8, 'minute': 0, 'second': 0, 'value': 1},
            {'hour': 19, 'minute': 0, 'second': 0, 'value': 'example1_saturday'}
        ],
        [
            {'hour': 8, 'minute': 0, 'second': 0, 'value': 1},
            {'hour': 19, 'minute': 0, 'second': 0, 'value': 'example1_sunday'}
        ]   
    ],
              'bacnet_weekly_sched_example2':
    [
        [
            {'hour': 8, 'minute': 0, 'second': 0, 'value': 1},
            {'hour': 12, 'minute': 0, 'second': 0, 'value': 0},
             {'hour': 13, 'minute': 0, 'second': 0, 'value': 1},
              {'hour': 19, 'minute': 0, 'second': 0, 'value': 'example2_monday'}
        ],
        [
            {'hour': 8, 'minute': 0, 'second': 0, 'value': 1},
            {'hour': 19, 'minute': 0, 'second': 0, 'value': 'example2_tuesday'}
        ],
        [
            {'hour': 8, 'minute': 0, 'second': 0, 'value': 1},
            {'hour': 19, 'minute': 0, 'second': 0, 'value': 'example2_wednesday'}
        ],
        [
            {'hour': 8, 'minute': 0, 'second': 0, 'value': 1},
            {'hour': 23, 'minute': 0, 'second': 0, 'value': 'example2_thursday'}
        ],
        [
            {'hour': 8, 'minute': 0, 'second': 0, 'value': 1},
            {'hour': 19, 'minute': 0, 'second': 0, 'value': 'example2_friday'}
        ],
        [
            {'hour': 8, 'minute': 0, 'second': 0, 'value': 1},
            {'hour': 19, 'minute': 0, 'second': 0, 'value': 'example2_saturday'}
        ],
        [
            {'hour': 8, 'minute': 0, 'second': 0, 'value': 1},
            {'hour': 19, 'minute': 0, 'second': 0, 'value': 'example2_sunday'}
        ]   
    ]
             }

# Date format is 'MM-DD'
weekly_except_sch = {'bacnet_weekly_sched_example1': 
              {
                  '01-01' : 
                  [
                      {'hour': 12, 'minute': 0, 'second': 0, 'value': 100},
                      {'hour': 19, 'minute': 0, 'second': 0, 'value': 'example1_ex1'}
                  ],
                  
                  '01-05':
                  [ 
                      {'hour': 12, 'minute': 0, 'second': 0, 'value': 200},
                      {'hour': 19, 'minute': 0, 'second': 0, 'value': 'example1_ex2'}
                  ],
                  
                  '02-21':
                  [ 
                      {'hour': 7, 'minute': 0, 'second': 0, 'value': 300},
                      {'hour': 19, 'minute': 0, 'second': 0, 'value': 'example1_ex3'}
                  ]},
              
               'bacnet_weekly_sched_example2':
              {
                  '12-01,02-22' : 
                  [
                      {'hour': 8, 'minute': 0, 'second': 0, 'value': 'abc'},
                      {'hour': 19, 'minute': 0, 'second': 0, 'value': 'example2_ex1'}
                  ],
                  
                  '01-01':
                  [ 
                      {'hour': 14, 'minute': 0, 'second': 0, 'value': 'def'},
                      {'hour': 19, 'minute': 0, 'second': 0, 'value': 'example2_ex2'}
                  ],
                  '02-21':
                  [ 
                      {'hour': 10, 'minute': 0, 'second': 0, 'value': 'ghi'},
                      {'hour': 12, 'minute': 0, 'second': 0, 'value': 'g'},
                      {'hour': 15, 'minute': 0, 'second': 0, 'value': 'jkl'},
                      {'hour': 19, 'minute': 0, 'second': 0, 'value': 'example2_ex3'}
                  ]} 
             }

In [ ]:
weekly_sch = {'bacnet_weekly_sched_example':
    [
        [
            {'hour': 8, 'minute': 0, 'second': 0, 'value': 1},
            {'hour': 12, 'minute': 0, 'second': 0, 'value': 0},
            {'hour': 13, 'minute': 0, 'second': 0, 'value': 1},
            {'hour': 19, 'minute': 0, 'second': 0, 'value': 0}
        ]
       
    ]
 }

week_except_sch = {'bacnet_weekly_sched_example':
    {
        '12-31,01-01':
            [
                {'hour': 8, 'minute': 0, 'second': 0, 'value': 'except_day'},
                {'hour': 19, 'minute': 0, 'second': 0, 'value': 'except_night'}
            ]
    }
}

In [ ]:
for i in exception_sch.keys():
    for j in range(len(exception_sch[i])):
        for k in range(len(exception_sch[i][j])):
            for l in range(len(exception_sch[i][j][k])):
                print(exception_sch[i][j][k])
                hour = exception_sch[i][j][k][l]['hour']
                minute = exception_sch[i][j][k][l]['minute']
                second = exception_sch[i][j][k][l]['second']
                value = exception_sch[i][j][k][l]['value']

In [14]:
def recursive(sch):
    if sch is None:
        return 
    else:
        for i in sch.keys():
            for j in range(len(sch[i])):        
                #print(weekly_sch[i][j])
                for k in range(len(sch[i][j])):
                    try:
                        hour = sch[i][j][k]['hour']
                        minute = sch[i][j][k]['minute']
                        second = sch[i][j][k]['second']
                        value = sch[i][j][k]['value']
                        print(hour)
                        print(minute)
                        print(second)
                        print(value)
                    except KeyError:
                        date = list(sch[i][j][k].keys())[0]
                        print(date)
    #                     print(sch[i][j][k])
                        recursive(sch[i][j][k])
#
                
recursive(weekly_sch)

8
0
0
1
12
0
0
0
13
0
0
1
19
0
0
0
8
0
0
1
19
0
0
2
8
0
0
1
19
0
0
3
8
0
0
1
19
0
0
4
8
0
0
1
19
0
0
5
8
0
0
1
19
0
0
6
8
0
0
1
19
0
0
7

In [17]:
for i in weekly_sch.keys():
    for j in range(len(weekly_sch[i])):        
        #print(weekly_sch[i][j])
        for k in range(len(weekly_sch[i][j])):
            date = list(weekly_sch[i][j][k].keys())[0]
            if date

hour
hour
hour
hour
hour
hour
hour
hour
hour
hour
hour
hour
hour
hour
hour
hour
2021-12-28
2022-12-29

In [125]:
for i in weekly_sch.keys():
        for j in range(len(weekly_sch[i])):
    #         print(weekly_sch[i][j])
            for k in range(len(weekly_sch[i][j])):
                date = list(weekly_sch[i][j][k].keys())[0]
                print(weekly_sch[i][j][k]['hour'])

8
12
13
19
8
19
8
19
8
19
8
19
8
19
8
19

KeyError: 'hour'

In [3]:
daily_sch = {'bacnet_daily_sched_example':
    [
        [
            {'hour': 8, 'minute': 0, 'second': 0, 'value': 1},
            {'hour': 19, 'minute': 0, 'second': 0, 'value': 0}
        ]
    ]}

In [22]:
weekly_sch = {'bacnet_weekly_sched_example':
    [
        [
            {'hour': 8, 'minute': 0, 'second': 0, 'value': 1},
            {'hour': 12, 'minute': 0, 'second': 0, 'value': 0},
             {'hour': 13, 'minute': 0, 'second': 0, 'value': 1},
              {'hour': 19, 'minute': 0, 'second': 0, 'value': 0}
        ],
        [
            {'hour': 8, 'minute': 0, 'second': 0, 'value': 1},
            {'hour': 19, 'minute': 0, 'second': 0, 'value': 0}
        ],
        [
            {'hour': 8, 'minute': 0, 'second': 0, 'value': 1},
            {'hour': 19, 'minute': 0, 'second': 0, 'value': 0}
        ],
        [
            {'hour': 8, 'minute': 0, 'second': 0, 'value': 1},
            {'hour': 19, 'minute': 0, 'second': 0, 'value': 0}
        ],
        [
            {'hour': 8, 'minute': 0, 'second': 0, 'value': 1},
            {'hour': 19, 'minute': 0, 'second': 0, 'value': 0}
        ],
        [
            {'hour': 8, 'minute': 0, 'second': 0, 'value': 1},
            {'hour': 19, 'minute': 0, 'second': 0, 'value': 0}
        ],
        [
            {'hour': 8, 'minute': 0, 'second': 0, 'value': 1},
            {'hour': 19, 'minute': 0, 'second': 0, 'value': 0}
        ]
        
        
    ]}


except_sch = {'2022-01-03' : [[
            {'hour': 10, 'minute': 0, 'second': 0, 'value': 100},
            {'hour': 19, 'minute': 0, 'second': 0, 'value': 'a'}
        ]],
       '2022-01-02':[ [
            {'hour': 10, 'minute': 0, 'second': 0, 'value': 100},
            {'hour': 19, 'minute': 0, 'second': 0, 'value': 'b'}
        ]]   
        }

In [5]:
for i in except_sch.keys():
    date = i
    for j in range(len(except_sch[i])):
        for k in range(len(except_sch[i][j])):
            print(except_sch[i][j][k]['hour'])
            print(except_sch[i][j][k]['minute'])
            print(except_sch[i][j][k]['second'])
            print(except_sch[i][j][k]['value'])
            print(pd.to_datetime(date,format= '%Y-%m-%d')
                    df['date_ex'] = pd.to_datetime(df['date_ex'],format='%Y-%m-%d').dt.date

SyntaxError: invalid syntax (Temp/ipykernel_7108/1301660543.py, line 10)

In [39]:
for a in except_sch.keys():
    for b in range(len(except_sch[a])):
        for c in range(len(except_sch[a][b])):
            hour_ex = except_sch[i][j][k]['hour']
            minute_ex= except_sch[i][j][k]['minute']
            second_ex = except_sch[i][j][k]['second']
            value_ex = except_sch[i][j][k]['value']
            print(hour_ex)
            print(minute_ex)
            print(second_ex)
            print(value_ex)

19
0
0
b
19
0
0
b
19
0
0
b
19
0
0
b

In [6]:
import pandas as pd
import numpy as np
import datetime
from itertools import islice
from operator import itemgetter

a = datetime.datetime.today()
hours = 160
dateList = []

for x in range (0, hours):
    dateList.append(str(datetime.datetime.strptime(str((a - datetime.timedelta(hours = x)).replace(microsecond = 0)),'%Y-%m-%d %H:%M:%S')))

value = np.random.uniform(4.0,60.0,160)
value = list(value)
data_dict = {'time':dateList,
           'value': value}
dataframe = pd.DataFrame(data_dict)
dataframe1 = dataframe.copy()
week_days = []
for i in range(dataframe1.shape[0]):
    week_days.append(datetime.datetime.strptime(dataframe1['time'][i],'%Y-%m-%d %H:%M:%S').strftime('%A'))
dataframe1['week_days'] = week_days

In [12]:
def scheduler(df_in, sch,except_sch):
    """Adds a new column to the input dataframe. Takes values from the sch dictionary and assigns 
       them according to the scheduled time (weekly or daily)
    Args:
        dataframe object -> index must be a timestamp with the name 'time'.
        sch -> it can be daily (with one schedule for each day) or weekly (separate schedule for each day)
               the sch dictionary (in case of weekly) must have at lease one schedule for each day.
    """
    # copy imported dataframe to a new variable
    df = df_in.copy()
    # extract column names to be used again later
    column_names = df.columns.values.tolist()
    
    # pop the index ('time' column) out and make it to a column
    df.reset_index(inplace=True)
    # Convert 'time' column to datetime (if not already)
    df['time'] = pd.to_datetime(df['time'])
    # Create a new column 'weekday' with respective weekday numbers
    df['weekday'] = df['time'].dt.dayofweek
    # Extract time from the 'time' column and put into new column
    df['time_only'] = pd.to_datetime(df['time'],format= '%H:%M:%S' ).dt.time
    df['date_only'] = pd.to_datetime(df['time'],format= '%H:%M:%S' ).dt.date
    # Extract keys length (would be 7 for weekly and 1 for daily)
    for keys in sch.keys():
        length = len(sch[keys])
    # IN CASE OF WEEKLY SCHEDULE DICTIONARY   
    if length == 7:
        for i in sch.keys():
            key = i
            for j in range(len(sch[i])):
                for k in range(len(sch[i][j])):
                
                # Extract information for respective day and save into variables
                    hour = sch[i][j][k]['hour']
                    minute = sch[i][j][k]['minute']
                    second = sch[i][j][k]['second']
                    value = sch[i][j][k]['value']
                    
                    # first schedule for next day - if day is sunday
                    if j == 6 :
                        hour_n = sch[i][0][0]['hour']
                        minute_n =sch[i][0][0]['minute']
                        second_n =sch[i][0][0]['second']
                    # first schedule for next day - if day is not sunday
                    else:
                        hour_n = sch[i][j+1][0]['hour']
                        minute_n =sch[i][j+1][0]['minute']
                        second_n =sch[i][j+1][0]['second']
                    
                    # create timestamp using info from dictionary
                    time = str(hour)+':'+str(minute)+':'+str(second)
                    # create timestamp for next day from dictionary
                    time_next_day = str(hour_n)+':'+str(minute_n)+':'+str(second_n)
                    # Convert both new 'time' columns to timestamp
                    df['time_new'] = pd.to_datetime(time,format= '%H:%M:%S')
                    df['time_new'] = pd.to_datetime(df['time_new'],format= '%H:%M:%S' ).dt.time
                    df['time_new_next_day'] = pd.to_datetime(time_next_day,format= '%H:%M:%S')
                    df['time_new_next_day'] = pd.to_datetime(df['time_new_next_day'],format= '%H:%M:%S').dt.time
                    # For Sunday
                    if j == 6:
                        # Set value for current day
                        df.loc[((df['time_only'] >= df['time_new']) & (df['weekday'] == j)) , i] = value
                        # overflow the same value from current day to next day until first schedul appears
                        df.loc[((df['time_only'] < df['time_new_next_day']) & (df['weekday'] == 0)) , i] = value
                    # For all other week days
                    else :
                        # Set value for current day
                        df.loc[((df['time_only'] >= df['time_new']) & (df['weekday'] == j)) , i] = value                          
                        # overflow the same value from current day to next day until first schedule appears
                        df.loc[((df['time_only'] < df['time_new_next_day']) & (df['weekday'] == j+1))  , i] = value
    # IN CASE OF DAILY SCHEDULE DICTIONARY
    else:
        for i in sch.keys():
            key=i
            for j in range(len(sch[i])):
                for k in range(len(sch[i][j])):
                    for day in range(0,7):
                        # Extract information for respective day and save into variables
                        hour = sch[i][j][k]['hour']
                        minute = sch[i][j][k]['minute']
                        second = sch[i][j][k]['second']
                        value = sch[i][j][k]['value']
                        # first schedule for next day
                        hour_n = sch[i][0][0]['hour']
                        minute_n = sch[i][0][0]['minute']
                        second_n = sch[i][0][0]['second']
                        # create timestamp using info from dictionary
                        time = str(hour)+':'+str(minute)+':'+str(second)
                        # create timestamp for nex day using info from dictionary
                        time_next_day = str(hour_n)+':'+str(minute_n)+':'+str(second_n)
                        # Convert both new 'time' columns to timestamp
                        df['time_new'] = pd.to_datetime(time,format= '%H:%M:%S')
                        df['time_new'] = pd.to_datetime(df['time_new'],format= '%H:%M:%S' ).dt.time
                        df['time_new_next_day'] = pd.to_datetime(time_next_day,format= '%H:%M:%S')
                        df['time_new_next_day'] = pd.to_datetime(df['time_new_next_day'],format= '%H:%M:%S').dt.time
                        # For Sunday
                        if day == 6 :
                            # Set value for current day
                            df.loc[((df['time_only'] >= df['time_new']) & (df['weekday'] == day)) , i] = value
                            # overflow the same value from current day to next day until first schedul appears
                            df.loc[((df['time_only'] < df['time_new_next_day']) & (df['weekday'] == 0)) , i] = value
                        # For all other days
                        else :
                            # Set value for current day
                            df.loc[((df['time_only'] >= df['time_new']) & (df['weekday'] == day)) , i] = value
                            # overflow the same value from current day to next day until first schedul appears
                            df.loc[((df['time_only'] < df['time_new_next_day']) & (df['weekday'] == day+1)) , i] = value
            
            
    if except_sch is None:
        return df
    else:
        for i in except_sch.keys():
            date = i
            print(i)
            for j in range(len(except_sch[i])):
                for k in range(len(except_sch[i][j])):
                    
                    hour_ex = except_sch[i][j][k]['hour']
                    minute_ex= except_sch[i][j][k]['minute']
                    second_ex = except_sch[i][j][k]['second']
                    value_ex = except_sch[i][j][k]['value']
                    print(value_ex)
                    
                    time = str(hour_ex)+':'+str(minute_ex)+':'+str(second_ex)
                    df['time_new'] = pd.to_datetime(time,format= '%H:%M:%S')
                    df['time_new'] = pd.to_datetime(df['time_new'],format= '%H:%M:%S' ).dt.time
                    df['date_ex'] = pd.to_datetime(date,format= '%Y-%m-%d')
                    df['date_ex'] = pd.to_datetime(df['date_ex'],format='%Y-%m-%d').dt.date
                    df['next_date'] = df['date_only'] + datetime.timedelta(days=1) 
#                     print(df['date_only'] - (df['date_only']+datetime.timedelta(days=1))==1)
#                     print(df['date_only']==date)
#                     print(date)
                    df.loc[((df['time_only'] >= df['time_new']) & (df['date_only']== df['date_ex'])), df.columns[-3]] = value_ex
#                     df.loc[((df['time_only'] < df['time_new_next_day']) & (df['date_only'] - (df['date_only']+datetime.timedelta(days=1))==1),df.columns[-3])] = value_ex
    # get all the column names and add the new column name that has values
    # new column name is the key of the outer dictionary
    column_names.append(key)
    # Set 'time' column as index again
    df.set_index('time',inplace=True)
    # Return df
    return df

In [23]:
df = scheduler(dataframe1,weekly_sch,except_sch)

2022-01-03
100
a
2022-01-02
100
b

In [24]:
df

,index,value,week_days,weekday,time_only,date_only,time_new,time_new_next_day,bacnet_weekly_sched_example,date_ex,next_date
time,,,,,,,,,,,
2022-01-04 15:52:07,0,31.365154,Tuesday,1,15:52:07,2022-01-04,19:00:00,08:00:00,1.0,2022-01-02,2022-01-05
2022-01-04 14:52:07,1,11.083861,Tuesday,1,14:52:07,2022-01-04,19:00:00,08:00:00,1.0,2022-01-02,2022-01-05
2022-01-04 13:52:07,2,59.046025,Tuesday,1,13:52:07,2022-01-04,19:00:00,08:00:00,1.0,2022-01-02,2022-01-05
2022-01-04 12:52:07,3,11.601994,Tuesday,1,12:52:07,2022-01-04,19:00:00,08:00:00,1.0,2022-01-02,2022-01-05
2022-01-04 11:52:07,4,32.035843,Tuesday,1,11:52:07,2022-01-04,19:00:00,08:00:00,1.0,2022-01-02,2022-01-05
...,...,...,...,...,...,...,...,...,...,...,...
2021-12-29 04:52:07,155,16.592369,Wednesday,2,04:52:07,2021-12-29,19:00:00,08:00:00,0.0,2022-01-02,2021-12-30
2021-12-29 03:52:07,156,9.036998,Wednesday,2,03:52:07,2021-12-29,19:00:00,08:00:00,0.0,2022-01-02,2021-12-30
2021-12-29 02:52:07,157,24.587809,Wednesday,2,02:52:07,2021-12-29,19:00:00,08:00:00,0.0,2022-01-02,2021-12-30
2021-12-29 01:52:07,158,34.303493,Wednesday,2,01:52:07,2021-12-29,19:00:00,08:00:00,0.0,2022-01-02,2021-12-30
2021-12-29 00:52:07,159,45.377262,Wednesday,2,00:52:07,2021-12-29,19:00:00,08:00:00,0.0,2022-01-02,2021-12-30

In [26]:
df.loc[df.weekday==6]

,index,value,week_days,weekday,time_only,date_only,time_new,time_new_next_day,bacnet_weekly_sched_example,date_ex,next_date
time,,,,,,,,,,,
2022-01-02 23:52:07,40,54.406755,Sunday,6,23:52:07,2022-01-02,19:00:00,08:00:00,b,2022-01-02,2022-01-03
2022-01-02 22:52:07,41,17.201013,Sunday,6,22:52:07,2022-01-02,19:00:00,08:00:00,b,2022-01-02,2022-01-03
2022-01-02 21:52:07,42,35.793329,Sunday,6,21:52:07,2022-01-02,19:00:00,08:00:00,b,2022-01-02,2022-01-03
2022-01-02 20:52:07,43,17.940679,Sunday,6,20:52:07,2022-01-02,19:00:00,08:00:00,b,2022-01-02,2022-01-03
2022-01-02 19:52:07,44,49.745774,Sunday,6,19:52:07,2022-01-02,19:00:00,08:00:00,b,2022-01-02,2022-01-03
2022-01-02 18:52:07,45,8.178669,Sunday,6,18:52:07,2022-01-02,19:00:00,08:00:00,100,2022-01-02,2022-01-03
2022-01-02 17:52:07,46,12.771104,Sunday,6,17:52:07,2022-01-02,19:00:00,08:00:00,100,2022-01-02,2022-01-03
2022-01-02 16:52:07,47,13.835540,Sunday,6,16:52:07,2022-01-02,19:00:00,08:00:00,100,2022-01-02,2022-01-03
2022-01-02 15:52:07,48,50.950786,Sunday,6,15:52:07,2022-01-02,19:00:00,08:00:00,100,2022-01-02,2022-01-03
2022-01-02 14:52:07,49,55.371553,Sunday,6,14:52:07,2022-01-02,19:00:00,08:00:00,100,2022-01-02,2022-01-03
2022-01-02 13:52:07,50,10.777966,Sunday,6,13:52:07,2022-01-02,19:00:00,08:00:00,100,2022-01-02,2022-01-03
2022-01-02 12:52:07,51,30.260548,Sunday,6,12:52:07,2022-01-02,19:00:00,08:00:00,100,2022-01-02,2022-01-03
2022-01-02 11:52:07,52,59.835005,Sunday,6,11:52:07,2022-01-02,19:00:00,08:00:00,100,2022-01-02,2022-01-03
2022-01-02 10:52:07,53,31.587797,Sunday,6,10:52:07,2022-01-02,19:00:00,08:00:00,100,2022-01-02,2022-01-03
2022-01-02 09:52:07,54,43.217601,Sunday,6,09:52:07,2022-01-02,19:00:00,08:00:00,1.0,2022-01-02,2022-01-03
2022-01-02 08:52:07,55,27.650526,Sunday,6,08:52:07,2022-01-02,19:00:00,08:00:00,1.0,2022-01-02,2022-01-03
2022-01-02 07:52:07,56,41.063126,Sunday,6,07:52:07,2022-01-02,19:00:00,08:00:00,0.0,2022-01-02,2022-01-03
2022-01-02 06:52:07,57,45.073001,Sunday,6,06:52:07,2022-01-02,19:00:00,08:00:00,0.0,2022-01-02,2022-01-03
2022-01-02 05:52:07,58,47.802181,Sunday,6,05:52:07,2022-01-02,19:00:00,08:00:00,0.0,2022-01-02,2022-01-03
2022-01-02 04:52:07,59,33.861368,Sunday,6,04:52:07,2022-01-02,19:00:00,08:00:00,0.0,2022-01-02,2022-01-03
2022-01-02 03:52:07,60,22.610895,Sunday,6,03:52:07,2022-01-02,19:00:00,08:00:00,0.0,2022-01-02,2022-01-03
2022-01-02 02:52:07,61,25.594323,Sunday,6,02:52:07,2022-01-02,19:00:00,08:00:00,0.0,2022-01-02,2022-01-03
2022-01-02 01:52:07,62,39.023530,Sunday,6,01:52:07,2022-01-02,19:00:00,08:00:00,0.0,2022-01-02,2022-01-03
2022-01-02 00:52:07,63,55.750278,Sunday,6,00:52:07,2022-01-02,19:00:00,08:00:00,0.0,2022-01-02,2022-01-03

In [58]:
if str(dataframe['date_only']) == '2012-12-17':
    print(i)

In [105]:
for i in daily_sch.keys():
    key = i
    for j in range(len(daily_sch[i])):
        for k in range(len(daily_sch[i][j])):
            print(daily_sch[i][j][k].keys())
#             if (daily_sch[i][j][k].keys()) == any(str(dataframe['date_only'])):
#                 print(dataframe['date_only'])
#             else:
#                 print('nothing found')

dict_keys(['hour', 'minute', 'second', 'value'])
dict_keys(['hour', 'minute', 'second', 'value'])
dict_keys(['2021-12-17'])

In [2]:
daily_sch = {'bacnet_daily_sched_example1':
             [
                 [
                     {'hour': 8, 'minute': 0, 'second': 0, 'value': 1},
                     {'hour': 19, 'minute': 0, 'second': 0, 'value': 'example1'}
                 ]
             ],
             'bacnet_daily_sched_example2':
             [
                 [
                     {'hour': 8, 'minute': 0, 'second': 0, 'value': 1},
                     {'hour': 19, 'minute': 0, 'second': 0, 'value': 'example2'}
                 ]
             ] }

# Date format is 'MM-DD'
daily_except_sch = {'bacnet_daily_sched_example1': 
              {
                  '12-09,03-10' : 
                  [
                      {'hour': 13, 'minute': 0, 'second': 0, 'value': 100},
                      {'hour': 19, 'minute': 0, 'second': 0, 'value': 'example1_ex1'}
                  ],
                  '02-17':
                  [ 
                      {'hour': 10, 'minute': 0, 'second': 0, 'value': 'ghi'},
                      {'hour': 12, 'minute': 0, 'second': 0, 'value': 'g'},
                      {'hour': 15, 'minute': 0, 'second': 0, 'value': 'jkl'},
                      {'hour': 19, 'minute': 0, 'second': 0, 'value': 'example2_ex3'}
                  ]},
              
               'bacnet_daily_sched_example2':
              {
                  '01-17,02-17' : 
                  [
                      {'hour': 10, 'minute': 0, 'second': 0, 'value': 'abc'},
                      {'hour': 19, 'minute': 0, 'second': 0, 'value': 'example2_ex1'}
                  ],
              '12-31':
                  [ 
                      {'hour': 10, 'minute': 0, 'second': 0, 'value': 'ghi'},
                      {'hour': 12, 'minute': 0, 'second': 0, 'value': 'g'},
                      {'hour': 15, 'minute': 0, 'second': 0, 'value': 'jkl'},
                      {'hour': 19, 'minute': 0, 'second': 0, 'value': 'example2_ex2'}
                  ],
              '01-20':
                  [ 
                      {'hour': 10, 'minute': 0, 'second': 0, 'value': 'ghi'},
                      {'hour': 12, 'minute': 0, 'second': 0, 'value': 'g'},
                      {'hour': 15, 'minute': 0, 'second': 0, 'value': 'jkl'},
                      {'hour': 19, 'minute': 0, 'second': 0, 'value': 'example2_ex3'}
                  ]} 
             }

In [1]:
### SIMPLE DAILY AND WEEKLY SCHEDULES
schedule1 = {'daily_column':
             [
                 [
                     {'hour': 6, 'minute': 0, 'second': 0, 'value': 'daily_sched'},
                     {'hour': 14, 'minute': 0, 'second': 0, 'value': 'daily_sched_day_end'}
                 ]
             ],
             'weekly_column':
             [
                [
                    {'hour': 8, 'minute': 0, 'second': 0, 'value': 'weekly_sched_monday_start'},
                    {'hour': 10, 'minute': 0, 'second': 0, 'value': 'weekly_sched_monday_mid1'},
                    {'hour': 13, 'minute': 0, 'second': 0, 'value': 'weekly_sched_monday_mid2'},
                    {'hour': 22, 'minute': 0, 'second': 0, 'value': 'weekly_sched_monday_start'}
                ],
                [
                    {'hour': 7, 'minute': 30, 'second': 0, 'value': 'weekly_sched_tuesday_start'},
                    {'hour': 16, 'minute': 0, 'second': 0, 'value': 'weekly_sched_tuesday_end'}
                ],
                [
                    {'hour': 8, 'minute': 0, 'second': 0, 'value': 'weekly_sched_wednesday_start'},
                    {'hour': 19, 'minute': 0, 'second': 0, 'value': 'weekly_sched_wednesday_end'}
                ],
                [
                    {'hour': 5, 'minute': 0, 'second': 0, 'value': 'weekly_sched_thursday_start'},
                    {'hour': 23, 'minute': 0, 'second': 0, 'value': 'weekly_sched_thursday_end'}
                ],
                [
                    {'hour': 8, 'minute': 0, 'second': 0, 'value': 'weekly_sched_friday_start'},
                    {'hour': 19, 'minute': 0, 'second': 0, 'value': 'weekly_sched_friday_end'}
                ],
                [
                    {'hour': 8, 'minute': 0, 'second': 0, 'value': 'weekly_sched_saturday_start'},
                    {'hour': 19, 'minute': 0, 'second': 0, 'value': 'weekly_sched_saturday_end'}
                ],
                [
                    {'hour': 8, 'minute': 0, 'second': 0, 'value': 'weekly_sched_sunday_start'},
                    {'hour': 19, 'minute': 0, 'second': 0, 'value': 'weekly_sched_sunday_end'}
                ]   
            ]
             }
######################################
######################################
######################################
#### DAILY SCHEDULE + DATE EXCEPTION
schedule2 = {'daily_column':
             [
                 [
                     {'hour': 6, 'minute': 0, 'second': 0, 'value': 'daily_sched_day_start'},
                     {'hour': 14, 'minute': 0, 'second': 0, 'value': 'daily_sched_day_end'}
                 ]
             ]
           }
except_sch2 = {'daily_column': 
              {
                  '02-24' : 
                  [[
                      {'hour': 12, 'minute': 0, 'second': 0, 'value': 'daily_sced_exception_1_start'},
                      {'hour': 19, 'minute': 0, 'second': 0, 'value': 'daily_sced_exception_1_end'}
                  ]],
                  '02-25':
                  [[ 
                      {'hour': 12, 'minute': 0, 'second': 0, 'value': 'daily_sced_exception_2_start'},
                      {'hour': 19, 'minute': 0, 'second': 0, 'value': 'daily_sced_exception_2_end'}
                  ]],
                  '02-23':
                  [[ 
                      {'hour': 7, 'minute': 0, 'second': 0, 'value': 'daily_sced_exception_3_start'},
                      {'hour': 19, 'minute': 0, 'second': 0, 'value': 'daily_sced_exception_3_end'}
                  ]]}
             }
#### DAILY SCHEDULE + RANGE EXCEPTION (DAILY)
schedule3 = {'daily_column':
             [
                 [
                     {'hour': 6, 'minute': 0, 'second': 0, 'value': 'daily_sched_day_start'},
                     {'hour': 14, 'minute': 0, 'second': 0, 'value': 'daily_sched_day_end'}
                 ]
             ]
           }
except_sch3 = {'daily_column': 
                {'12-30,02-24':
                    [
                        [
                          {'hour': 8, 'minute': 0, 'second': 0, 'value': 'range_daily_exception_1_start'},
                          {'hour': 12, 'minute': 0, 'second': 0, 'value': 'range_daily_exception_1_mid1'},
                          {'hour': 14, 'minute': 0, 'second': 0, 'value': 'range_daily_exception_1_mid2'},
                          {'hour': 23, 'minute': 0, 'second': 0, 'value': 'range_daily_exception_1_end'}
                        ]
                    ]
                }
             }
#### DAILY SCHEDULE + RANGE EXCEPTION (WEEKLY)
schedule4 = {'daily_column':
             [
                 [
                     {'hour': 6, 'minute': 0, 'second': 0, 'value': 'daily_sched_day_start'},
                     {'hour': 14, 'minute': 0, 'second': 0, 'value': 'daily_sched_day_end'}
                 ]
             ]
           }
except_sch4 = {'daily_column': 
                {'12-30,02-01':
                [
                    [
                        {'hour': 8, 'minute': 0, 'second': 0, 'value': 'range_weekly_except_monday_start'},
                        {'hour': 12, 'minute': 0, 'second': 0, 'value': 'range_weekly_except_monday_mid1'},
                         {'hour': 13, 'minute': 0, 'second': 0, 'value': 'range_weekly_except_monday_mid2'},
                          {'hour': 19, 'minute': 0, 'second': 0, 'value': 'range_weekly_except_monday_end'}
                    ],
                    [
                        {'hour': 8, 'minute': 0, 'second': 0, 'value': 'range_weekly_except_tuesday_start'},
                        {'hour': 19, 'minute': 0, 'second': 0, 'value': 'range_weekly_except_tuesday_end'}
                    ],
                    [
                        {'hour': 8, 'minute': 0, 'second': 0, 'value': 'range_weekly_except_wednesday_start'},
                        {'hour': 19, 'minute': 0, 'second': 0, 'value': 'range_weekly_except_wednesday_end'}
                    ],
                    [
                        {'hour': 8, 'minute': 0, 'second': 0, 'value': 'range_weekly_except_thursday_start'},
                        {'hour': 23, 'minute': 0, 'second': 0, 'value': 'range_weekly_except_thursday_end'}
                    ],
                    [
                        {'hour': 8, 'minute': 0, 'second': 0, 'value': 'range_weekly_except_friday_start'},
                        {'hour': 19, 'minute': 0, 'second': 0, 'value': 'range_weekly_except_friday_end'}
                    ],
                    [
                        {'hour': 8, 'minute': 0, 'second': 0, 'value': 'range_weekly_except_saturday_start'},
                        {'hour': 19, 'minute': 0, 'second': 0, 'value': 'range_weekly_except_saturday_end'}
                    ],
                    [
                        {'hour': 8, 'minute': 0, 'second': 0, 'value': 'range_weekly_except_sunday_start'},
                        {'hour': 19, 'minute': 0, 'second': 0, 'value': 'range_weekly_except_sunday_end'}
                    ]  
                ]
                }
             }
######################################
######################################
######################################
#### WEEKLY SCHEDULE + DATE EXCEPTION
schedule5 = {'weekly_column':
             [
                [
                    {'hour': 8, 'minute': 0, 'second': 0, 'value': 'weekly_sched_monday_start'},
                    {'hour': 10, 'minute': 0, 'second': 0, 'value': 'weekly_sched_monday_mid1'},
                    {'hour': 13, 'minute': 0, 'second': 0, 'value': 'weekly_sched_monday_mid2'},
                    {'hour': 22, 'minute': 0, 'second': 0, 'value': 'weekly_sched_monday_start'}
                ],
                [
                    {'hour': 7, 'minute': 30, 'second': 0, 'value': 'weekly_sched_tuesday_start'},
                    {'hour': 16, 'minute': 0, 'second': 0, 'value': 'weekly_sched_tuesday_end'}
                ],
                [
                    {'hour': 8, 'minute': 0, 'second': 0, 'value': 'weekly_sched_wednesday_start'},
                    {'hour': 19, 'minute': 0, 'second': 0, 'value': 'weekly_sched_wednesday_end'}
                ],
                [
                    {'hour': 5, 'minute': 0, 'second': 0, 'value': 'weekly_sched_thursday_start'},
                    {'hour': 23, 'minute': 0, 'second': 0, 'value': 'weekly_sched_thursday_end'}
                ],
                [
                    {'hour': 8, 'minute': 0, 'second': 0, 'value': 'weekly_sched_friday_start'},
                    {'hour': 19, 'minute': 0, 'second': 0, 'value': 'weekly_sched_friday_end'}
                ],
                [
                    {'hour': 8, 'minute': 0, 'second': 0, 'value': 'weekly_sched_saturday_start'},
                    {'hour': 19, 'minute': 0, 'second': 0, 'value': 'weekly_sched_saturday_end'}
                ],
                [
                    {'hour': 8, 'minute': 0, 'second': 0, 'value': 'weekly_sched_sunday_start'},
                    {'hour': 19, 'minute': 0, 'second': 0, 'value': 'weekly_sched_sunday_end'}
                ]   
            ]
           }
except_sch5 = {'weekly_column': 
              {
                  '01-01' : 
                  [[
                      {'hour': 12, 'minute': 0, 'second': 0, 'value': 'daily_sced_exception_1_start'},
                      {'hour': 19, 'minute': 0, 'second': 0, 'value': 'daily_sced_exception_1_end'}
                  ]],
                  '01-05':
                  [[ 
                      {'hour': 12, 'minute': 0, 'second': 0, 'value': 'daily_sced_exception_2_start'},
                      {'hour': 19, 'minute': 0, 'second': 0, 'value': 'daily_sced_exception_2_end'}
                  ]],
                  '01-06':
                  [[ 
                      {'hour': 7, 'minute': 0, 'second': 0, 'value': 'daily_sced_exception_3_start'},
                      {'hour': 19, 'minute': 0, 'second': 0, 'value': 'daily_sced_exception_3_end'}
                  ]]}
             }
#### WEEKLY SCHEDULE + RANGE EXCEPTION (DAILY)
schedule6 = {'weekly_column':
             [
                [
                    {'hour': 8, 'minute': 0, 'second': 0, 'value': 'weekly_sched_monday_start'},
                    {'hour': 10, 'minute': 0, 'second': 0, 'value': 'weekly_sched_monday_mid1'},
                    {'hour': 13, 'minute': 0, 'second': 0, 'value': 'weekly_sched_monday_mid2'},
                    {'hour': 22, 'minute': 0, 'second': 0, 'value': 'weekly_sched_monday_start'}
                ],
                [
                    {'hour': 7, 'minute': 30, 'second': 0, 'value': 'weekly_sched_tuesday_start'},
                    {'hour': 16, 'minute': 0, 'second': 0, 'value': 'weekly_sched_tuesday_end'}
                ],
                [
                    {'hour': 8, 'minute': 0, 'second': 0, 'value': 'weekly_sched_wednesday_start'},
                    {'hour': 19, 'minute': 0, 'second': 0, 'value': 'weekly_sched_wednesday_end'}
                ],
                [
                    {'hour': 5, 'minute': 0, 'second': 0, 'value': 'weekly_sched_thursday_start'},
                    {'hour': 23, 'minute': 0, 'second': 0, 'value': 'weekly_sched_thursday_end'}
                ],
                [
                    {'hour': 8, 'minute': 0, 'second': 0, 'value': 'weekly_sched_friday_start'},
                    {'hour': 19, 'minute': 0, 'second': 0, 'value': 'weekly_sched_friday_end'}
                ],
                [
                    {'hour': 8, 'minute': 0, 'second': 0, 'value': 'weekly_sched_saturday_start'},
                    {'hour': 19, 'minute': 0, 'second': 0, 'value': 'weekly_sched_saturday_end'}
                ],
                [
                    {'hour': 8, 'minute': 0, 'second': 0, 'value': 'weekly_sched_sunday_start'},
                    {'hour': 19, 'minute': 0, 'second': 0, 'value': 'weekly_sched_sunday_end'}
                ]   
            ]
           }
except_sch6 = {'weekly_column': 
                {'12-30,02-24':
                    [
                        [
                          {'hour': 8, 'minute': 0, 'second': 0, 'value': 'range_daily_exception_1_start'},
                          {'hour': 12, 'minute': 0, 'second': 0, 'value': 'range_daily_exception_1_mid1'},
                          {'hour': 14, 'minute': 0, 'second': 0, 'value': 'range_daily_exception_1_mid2'},
                          {'hour': 23, 'minute': 0, 'second': 0, 'value': 'range_daily_exception_1_end'}
                        ]
                    ],
                 
                 '12-31':
                  [[
                    {'hour': 8, 'minute': 0, 'second': 0, 'value': 'weekly_sched_thursday_start'},
                    {'hour': 10, 'minute': 0, 'second': 0, 'value': 'weekly_sched_thursday_mid1'},
                    {'hour': 13, 'minute': 0, 'second': 0, 'value': 'weekly_sched_thursday_mid2'},
                    {'hour': 22, 'minute': 0, 'second': 0, 'value': 'weekly_sched_thursday_end'}
                ]]
                }
             }
#### WEEKLY SCHEDULE + RANGE EXCEPTION (WEEKLY)
schedule7 = {'weekly_column':
             [
                [
                    {'hour': 8, 'minute': 0, 'second': 0, 'value': 'weekly_sched_monday_start'},
                    {'hour': 10, 'minute': 0, 'second': 0, 'value': 'weekly_sched_monday_mid1'},
                    {'hour': 13, 'minute': 0, 'second': 0, 'value': 'weekly_sched_monday_mid2'},
                    {'hour': 22, 'minute': 0, 'second': 0, 'value': 'weekly_sched_monday_end'}
                ],
                [
                    {'hour': 7, 'minute': 30, 'second': 0, 'value': 'weekly_sched_tuesday_start'},
                    {'hour': 16, 'minute': 0, 'second': 0, 'value': 'weekly_sched_tuesday_end'}
                ],
                [
                    {'hour': 8, 'minute': 0, 'second': 0, 'value': 'weekly_sched_wednesday_start'},
                    {'hour': 19, 'minute': 0, 'second': 0, 'value': 'weekly_sched_wednesday_end'}
                ],
                [
                    {'hour': 5, 'minute': 0, 'second': 0, 'value': 'weekly_sched_thursday_start'},
                    {'hour': 23, 'minute': 0, 'second': 0, 'value': 'weekly_sched_thursday_end'}
                ],
                [
                    {'hour': 8, 'minute': 0, 'second': 0, 'value': 'weekly_sched_friday_start'},
                    {'hour': 19, 'minute': 0, 'second': 0, 'value': 'weekly_sched_friday_end'}
                ],
                [
                    {'hour': 8, 'minute': 0, 'second': 0, 'value': 'weekly_sched_saturday_start'},
                    {'hour': 19, 'minute': 0, 'second': 0, 'value': 'weekly_sched_saturday_end'}
                ],
                [
                    {'hour': 8, 'minute': 0, 'second': 0, 'value': 'weekly_sched_sunday_start'},
                    {'hour': 19, 'minute': 0, 'second': 0, 'value': 'weekly_sched_sunday_end'}
                ]   
            ]
           }
except_sch7 = {'weekly_column': 
                {'12-30,02-25':
                [
                    [
                        {'hour': 8, 'minute': 0, 'second': 0, 'value': 'range_weekly_except_monday_start'},
                        {'hour': 12, 'minute': 0, 'second': 0, 'value': 'range_weekly_except_monday_mid1'},
                         {'hour': 13, 'minute': 0, 'second': 0, 'value': 'range_weekly_except_monday_mid2'},
                          {'hour': 19, 'minute': 0, 'second': 0, 'value': 'range_weekly_except_monday_end'}
                    ],
                    [
                        {'hour': 8, 'minute': 0, 'second': 0, 'value': 'range_weekly_except_tuesday_start'},
                        {'hour': 19, 'minute': 0, 'second': 0, 'value': 'range_weekly_except_tuesday_end'}
                    ],
                    [
                        {'hour': 8, 'minute': 0, 'second': 0, 'value': 'range_weekly_except_wednesday_start'},
                        {'hour': 19, 'minute': 0, 'second': 0, 'value': 'range_weekly_except_wednesday_end'}
                    ],
                    [
                        {'hour': 8, 'minute': 0, 'second': 0, 'value': 'range_weekly_except_thursday_start'},
                        {'hour': 23, 'minute': 0, 'second': 0, 'value': 'range_weekly_except_thursday_end'}
                    ],
                    [
                        {'hour': 8, 'minute': 0, 'second': 0, 'value': 'range_weekly_except_friday_start'},
                        {'hour': 19, 'minute': 0, 'second': 0, 'value': 'range_weekly_except_friday_end'}
                    ],
                    [
                        {'hour': 8, 'minute': 0, 'second': 0, 'value': 'range_weekly_except_saturday_start'},
                        {'hour': 19, 'minute': 0, 'second': 0, 'value': 'range_weekly_except_saturday_end'}
                    ],
                    [
                        {'hour': 8, 'minute': 0, 'second': 0, 'value': 'range_weekly_except_sunday_start'},
                        {'hour': 19, 'minute': 0, 'second': 0, 'value': 'range_weekly_except_sunday_end'}
                    ]  
                ],
                 '02-24':
                    [
                        [
                          {'hour': 8, 'minute': 0, 'second': 0, 'value': 'range_daily_exception_1_start'},
                          {'hour': 12, 'minute': 0, 'second': 0, 'value': 'range_daily_exception_1_mid1'},
                          {'hour': 14, 'minute': 0, 'second': 0, 'value': 'range_daily_exception_1_mid2'},
                          {'hour': 23, 'minute': 0, 'second': 0, 'value': 'range_daily_exception_1_end'}
                        ]
                    ]
                }
             }